@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Protest Riot", sans-serif;
}
:root{
  --text-color-1:#000000;
  --text-color-2:#fc7703;
  --text-color-3:#ffffff;
  --text-color-4:#ccd7e6;
  --text-color-5:#ababab;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
