.card {
    background: #80C4E9;
    border: none;
    border-radius: 15px;
    padding: 1.8rem;
    width: 250px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.4s ease, box-shadow 0.4s ease;
    color: #fff;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.card-title {
    font-size: 1.6rem;
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
}